/* 头部和底部样式代码已抽离到common.css中 */
/* 在index.css中开始书写 个人中心 样式代码 */
.main {
    margin-top: 20px;
    height: 1300px;
    background-color: #f6f6f6;
}

.left {
    float: left;
    width: 224px;
    height: 1120px;
    background-color: #fff;
}

/* 让li出现小圆点 */
.left ul li:hover {
    list-style: disc !important;
    color: #5cb99e;
}

.right {
    float: right;
    width: 996px;
    height: 1120px;
    /* background-color: skyblue; */
}

.left .zhanghu {
    padding-top: 37px;
    padding-left: 52px;
    height: 450px;
    border-bottom: 2px solid #f4f4f4;
    /* background-color: pink; */
}

.left .zhanghu h1 {
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 16px;
    color: #333;
}

.left .zhanghu li {
    /* float: left; */
    padding-bottom: 19px;
}

.left .zhanghu li a {
    display: block;
    font-size: 14px;
    color: #666;
}

.left .guanli {
    padding-top: 24px;
    padding-bottom: 30px;
    padding-left: 52px;
    /* height: 275px; */
    /* background-color: green; */
    border-bottom: 2px solid #f4f4f4;
}

.left .guanli h1 {
    margin-bottom: 15px;
    margin-top: 0;
    font-weight: 400;
    font-size: 16px;
    color: #333;
}

.left .guanli li {
    padding-bottom: 19px;
}

.left .guanli li a {
    display: block;
    font-size: 14px;
    color: #666;
}

.left .shoucang {
    padding-top: 24px;
    padding-bottom: 30px;
    padding-left: 52px;
    /* height: 275px; */
    /* background-color: green; */
    border-bottom: 2px solid #f4f4f4;
}

.left .shoucang h1 {
    margin-bottom: 15px;
    margin-top: 0;
    font-weight: 400;
    font-size: 16px;
    color: #333;
}

.left .shoucang li {
    padding-bottom: 19px;
}

.left .shoucang li a {
    display: block;
    font-size: 14px;
    color: #666;
}

.left .bangzhu {
    padding-top: 24px;
    padding-bottom: 30px;
    padding-left: 52px;
}

.left .bangzhu h1 {
    margin-bottom: 15px;
    margin-top: 0;
    font-weight: 400;
    font-size: 16px;
    color: #333;
}

.left .bangzhu li {
    padding-bottom: 19px;
}

.left .bangzhu li a {
    display: block;
    font-size: 14px;
    color: #666;
}


.right .top {
    padding-left: 50px;
    margin-bottom: 20px;
    width: 996px;
    height: 132px;
    /* line-height: 132px; */
    background-image: url(../images/bgi.png);
}

.right .top .touxiang img {
    float: left;
    margin-top: 23px;
    width: 85px;
    height: 86px;
}

.right .top .name {
    line-height: 132px;
    float: left;
    margin-left: 26px;
}

.right .top .anquan li {
    float: right;
    margin-right: 107px;
    margin-top: 37px;
    width: 64px;
    height: 61px;
    /* background-color: pink; */
}

.right .top .anquan li .wenzi {
    margin-top: 10px;
    height: 28px;
    color: #333;
}

.right .top .anquan li .icon {
    width: 32px;
    height: 29px;
    /* background-color: #fff; */
    background-image: url(../images/icon1.png);
    background-position: center;
    margin: auto;
}

.right .dingdan {
    width: 996px;
    height: 374px;
    background-color: #ffffff;
}

.right .topo {
    height: 60px;
    line-height: 60px;
}

.right .topo h1 {
    float: left;
    font-weight: 400;
    margin-left: 12px;
    font-size: 19px;
    color: #333;
}

.right .topo a {
    float: right;
    margin-right: 16px;
    display: inline-block;
    font-size: 16px;
    color: #999;
}

.right .goods {
    margin: 10px auto;
    width: 971px;
    height: 137px;
    background-color: #ffffff;
    border: solid 1px #f4f4f4;
}

.right .goods .pic {
    float: left;
    width: 107px;
    /* height: 107px; */
}

.right .goods .pic img {
    margin-left: 13px;
    margin-top: 17px;
    /* line-height: 137px; */
    width: 107px;
    height: 107px;
}

.right .goods .box-wenzi {
    float: left;
    margin-left: 13px;
    margin-top: 49px;
    width: 214px;
    height: 39px;
}

.right .goods .box-wenzi .yanse {
    font-size: 14px;
    color: #999;
}

.right .goods .box-wenzi a {
    float: right;
}

.right .goods .fukuan {
    float: left;
    margin-right: 80px;
    line-height: 137px;
    margin-left: 127px;
    color: #e05e30;
}

.right .goods .yunfei {
    float: left;
    padding: 40px 30px;
    width: 196px;
    height: 137px;
    border-left: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
}

.right .goods .yunfei p {
    font-size: 14px;
    color: #9a2e1f;
    text-align: center;
}

.right .goods .yunfei b {
    display: inline-block;
    font-weight: 400;
    font-size: 14px;
    color: #333;
    text-align: center;
}

.right .goods .yunfei h3 {
    margin-top: 5px;
    font-weight: 400;
    font-size: 14px;
    color: #333;
    text-align: center;
}

.right .goods .box2 {
    width: 180px;
    float: right;
    padding: 28px 40px;
}

.right .goods .box2 .one {
    margin-bottom: 15px;
    width: 100px;
    height: 31px;
    background-color: #27ba9b;
    border-radius: 2px;
    line-height: 31px;
    text-align: center;
}

.right .goods .box2 .two {
    text-align: center;
}
.right .list{
    padding: 0 11px;
    width: 996px;
	height: 408px;
	/* background-color: pink; */
}
.right .list h4 {
        padding: 20px 0;
        font-weight: 400;
        font-size: 19px;
        border-bottom: 1px solid #e8e8e8;;
}
.right .list li{
    margin-top: 20px;
    float: left;
    margin-right: 3px;
    width: 240px;
	height: 304px;
	background-color: #ffffff;
}
.right .list li:nth-child(4){
   margin-right: 0;
}
.right .list li .box4{
    margin: 8px 29px;
    width: 184px;
	height: 184px;
}
.right .list li .miaoshu{
    margin-left: 19px;
}
.right .list li .miaoshu p{
    font-size: 17px;
    color: #9a2e1f;
}